video {
  display: block;
  width: 100%;
  height: 100%;
}

#parent
{
  padding 0rem 0rem;
  position: relative;
}

#child_1, #child_2
{
  position: absolute;
}

#child_1
{
  width:80%;
  height:70%;
  margin-left: 5rem;
  margin-top: 6rem;
  z-index: 1;
}

#child_2
{
  width:100%;
  height:100%;
  z-index: 2;
}

@media screen and (max-width: 600px) {
#child_1
{
  margin-left: -9rem;
  margin-top: -1rem;
  width:160%;
  height:100%;
  z-index: 1;
}

#child_2
{
  z-index: 2;
}
}